@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --border-blue: rgb(0, 84, 112);
    --background: rgb(0, 65, 86)
}
body{
    font-family: "Overpass", sans-serif;
    background: linear-gradient(to bottom, black, rgb(0, 65, 86)) ;
    color: white;
    font-size: 2rem;
    margin: 0;
}
.main-container{
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-window{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 60%;
}
.name-input{
    width: 100%;
    height: 2rem;
    text-align: center;
    outline: none;
    background-color: rgb(0, 65, 86);
    border: 0.3rem solid var(--border-blue);
    font-size: 1.5rem;
    color: white;
}
.upload-part{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.avatar-upload{
    width: 100%;
    height: 3rem;
    background-color: rgb(0, 65, 86);
    border: 0.3rem solid var(--border-blue);
    color: white;
    cursor: pointer;
}
.avatar-preview-container{
    border: 0.2rem var(--border-blue) solid;
    border-radius: 50%;
    width: 20rem;
    height: 20rem;
    margin-top: 1rem;
    overflow: hidden;
}
.avatar{
    width: 100%;
    height: 100%;
}
.chat-window{
    width: 60%;
    height: 80%;
    background-color: rgb(0, 65, 86);
    box-shadow: 0 0 5rem 1rem black;
    border: 0.3rem solid var(--border-blue);
    display: flex;
    flex-direction: column;
}
.user-information{
    display: flex;
    align-items: center;
    padding-left: 1rem;
    border-bottom: 0.3rem solid var(--border-blue);
    flex: 10%;
}
.application {
    display: flex;
    flex: 85%;
    overflow: hidden;
}
.contacts{
    border-right: 0.3rem solid var(--border-blue);
    display: flex;
    flex-direction: column;
    flex: 25%;
    overflow: auto;
}
.set-center{
    align-items: center;
    justify-content: center;
}
.info-text{
    font-size: small;
    color: rgb(255, 255, 255);
    padding: 2rem;
    text-align: center;
}
.contact-container{
    height: 5rem;
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    margin-bottom: 0.2rem;
    background-color: transparent;
    border: 0;
    color: white;
    cursor: pointer;
    transition: 0.15s;
}
.contact-selected{
    background-color: var(--border-blue);
}
.contact-container:hover{
    background-color:  var(--border-blue);
}
.contact-photo-container{
    width: 4rem;
    height: 4rem;
    border: 0.2rem solid var(--border-blue);
    border-radius: 50%;
    transition: 0.15s;
    overflow: hidden;
}
.contact-photo-selected{
    border: 0.2rem solid var(--background);
}
.contact-photo-container:hover{
    border: 0.2rem solid var(--background);
}
.contact-photo{
    width: 100%;
    height: 100%;
}
.contact-informations{
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
}
.contact-name{
    font-size: 1.5rem;
}
.last-message{
    font-size: 1rem;
}
.chat-box{
    flex: 75%;
    display: flex;
    flex-direction: column;
}
.chat-area{
    flex: 90%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    overflow-y: auto;
}
.message-box-container{
    display: flex;
    width: 100%;
}
.align-right{
    justify-content: end;
}
.message-box{
    font-size: 1rem;
    padding: 1rem;
    border: 2px solid var(--border-blue);
    border-radius: 1rem;
    border-bottom-left-radius: 0;
    margin-bottom: 0.2rem;
    max-width: 70%;
}
.my-message{
    border: 2px solid var(--border-blue);
    border-radius: 1rem;
    border-bottom-right-radius: 0;
}
.type-area{
    flex: 10%;
    /* border-top: 0.2rem solid var(--border-blue); */
    padding: 1rem;
    display: flex;
    align-items: center;
}
.type-input{
    flex: 90%;
    height: 100%;
    outline: none;
    background-color: rgb(0, 65, 86);
    border: 0.2rem solid var(--border-blue);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    color: white;
    padding: 0 1rem 0 1rem;
    font-size: 1rem;
}
.send-button{
    flex: 10%;
    height: 100%;
    border: 0.2rem solid var(--border-blue);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: var(--border-blue);
    cursor: pointer;
    color: white;
    font-size: 2rem;
}
.footer{
    flex: 5%;
    border-top: 0.3rem solid var(--border-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
}